.page__clients {
  flex-grow: 1;

  .clients-header {
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
    }

    &__right {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      .button {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .clients-header__left {
    & > p {
      color: #475364;
      font-size: 22px;
      font-weight: 600;
      margin: 0;
      position: relative;
      top: -3px;
    }

    & > div {
      color: #8ea4b5;
      font-size: 11px;
    }
  }
}
