main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.page {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  padding: 22px 30px;
  position: relative;
}

.header__logo {
  display: inline-block;
  height: 36px;
  width: 132px;
}
