.seeker-phone {
  display: flex;
  flex-direction: row;

  &--no-phone {
    path {
      fill: #a3a9b1;
    }
  }

  &__image {
    align-items: center;
    background-color: #e8eff1;
    border-radius: 3px;
    display: flex;
    height: 36px;
    justify-content: center;
    overflow: hidden;
    width: 36px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }

  &__number {
    color: #475364;
    font-size: 12px;
    font-weight: 600;
  }

  &__more {
    color: #8ea4b5;
    font-size: 10px;
    margin-top: 2px;
  }

  &__no-phone {
    color: #a3a9b1;
    font-size: 12px;
    font-weight: 600;
  }
}
